div.block{
    position: absolute;
    margin-top: -35px;
    margin-left: 250px;
}

.href {
    /* Первые два свойства нужны чтобы убрать отступы в IE */
    overflow: visible;
    width: auto;

    /* Убираем отступы */
    margin: 0;
    padding: 0;

    /* Убираем все элементы оформления кнопки */
    background: none;
    border: none;

    /* Обычный для ссылок курсор */
    cursor: pointer;
}

/* Ссылка обычно подчеркнута */
.href {
    color: #00f;
    text-decoration: underline;
}

.auth{
    position:absolute;
    margin-top: 30px;
    right: 20px;
}





.necessar{
    color:Maroon;
}

.error{
    color:red;
}
