div.block{
    position: absolute;
    margin-top: -35px;
    margin-left: 250px;
}

.href {
    /* Первые два свойства нужны чтобы убрать отступы в IE */
    overflow: visible;
    width: auto;

    /* Убираем отступы */
    margin: 0;
    padding: 0;

    /* Убираем все элементы оформления кнопки */
    background: none;
    border: none;

    /* Обычный для ссылок курсор */
    cursor: pointer;
}

/* Ссылка обычно подчеркнута */
.href {
    color: #00f;
    text-decoration: underline;
}

/*.auth{
    position:absolute;
    margin-top: 30px;


}*/


.necessar{
    color:Maroon;
}

.error{
    color:red;
}

.authhref{
   /* margin-top: 30px;*/
    width:100%;
    height: 40px;
    background-color: lightblue;
}


.local{
    width:100%;
    height: 40px;
    background-color: midnightblue;

}

.hrefloc{
    color:white;
}
/*.menu{
    margin-top: 60px;
}*/

.train,.passangers {
    width: 100px;	/* Размеры */ /* Цвет фона */
    outline: 1px solid #000; /* Чёрная рамка */
}